.recommend-view
  padding-top 20px
  .remd_tl
    position relative
    padding-left 9px
    margin-bottom 14px
    font-size 17px
    line-height 20px
    box-sizing border-box
    width 100%
  .remd_tl:after
    content " "
    position absolute
    left 0
    top 50%
    margin-top -7px
    width 2px
    height 16px
    background-color #d33a31
  .remd_songs
    padding-bottom 24px