.m-sgitem
  color #333
  text-decoration none
  .song-flex
    display flex
    padding-left 10px
    .flex-left
      flex 1
      padding 6px 0
      .song-name
        font-size 17px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        word-break normal
        line-height 25px
      .song-desc
        color #888888
        font-size 12px
        line-height 18px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        word-break normal
        .song-icon
          background url("//s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880=") no-repeat
          background-size 166px 97px
          display inline-block
          width 12px
          height 8px
          margin-right 4px
    .flex-right
      display flex
      padding 0 10px
      align-items center
      .play-icon
        background url("//s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880=") no-repeat
        background-size 166px 97px
        display inline-block
        width 22px
        height 22px
        background-position -24px 0